<section id="todoapp">
	<header>
		<h1>Task-List</h1>
		{{input type="text" id="search-task" placeholder="seach task" value=filterString}}
		{{#link-to 'todos.new' class="btn btn-info"}}+ new task{{/link-to}}
		{{input type="checkbox" label="Sort By Due Date" checked=isSortedByDate}}	
	</header>
	{{outlet}}
	<section id="list">	
		<ul>
		{{#each todo in filteredModel}}
			{{show-list todo=todo}}
		{{/each}}
		</ul>
	</section>
</section>